{% extends 'base.html' %}
{% load static %}

{% block title %} Виконавчий комітет {% endblock %}

{% block page_caption %} Виконавчий комітет {% endblock %}

{% block content %} 

    <div class="container">
        <h5>Повноваження виконавчого комітету селищної ради</h5>
        <ul>
            <li>
                <p>Виконавчий комітет селищної ради може розглядати і вирішувати питання, віднесені Законом України «Про  місцеве самоврядування в Україні» до відання виконавчих органів ради.</p>
            </li>
            <li>
                <p>Виконавчий комітет ради:</p>
                <ul>
                    <li>
                        <p>попередньо розглядає проекти місцевих програм соціально-економічного і культурного розвитку, цільових програм з інших питань, місцевого бюджету, проекти рішень з інших питань, що вносяться на розгляд селищної ради;</p>
                    </li>
                    <li>
                        <p>координує діяльність відділів, управлінь та інших виконавчих органів ради, підприємств, установ та організацій, що належать до комунальної власності відповідної територіальної громади, заслуховує звіти про роботу їх керівників;</p>
                    </li>
                    <li>
                        <p>має право змінювати або скасовувати акти підпорядкованих йому відділів, управлінь, інших виконавчих органів ради, а також їх посадових осіб.</p>
                    </li>
                </ul>
            </li>
            <li>
                <p>Селищна рада може прийняти рішення про розмежування повноважень між її виконавчим комітетом, відділами, управліннями, іншими виконавчими органами ради та селищним головою в межах повноважень, наданих Законом України «Про  місцеве самоврядування в Україні» виконавчим органам селищної ради.</p>
            </li>
        </ul>

    </div>

{% endblock %}