{% extends 'base.html' %}
{% load static %}

{% block title %} Історична довідка {% endblock %}

{% block page_caption %} Історична довідка {% endblock %}

{% block content %} 
<link rel="stylesheet" href="{% static 'css/news.css' %}">
    <p class="news_title">
Заку́пне (давніше Закупна)  — селище міського типу в Україні, у Чемеровецькому районі Хмельницької області.
        <hr>
        Походження назви:
        <br>
Закупно (Закупне) — українське слово, що означає куплений (-на). У слов'янських мовах існує також слово «закупно» (у купі), що означає хутір (невелике поселення).
<br>Історичні мікротопоніми: Стара Закупна, ЮЗ, Поле, Станція, Дома.
<hr>
        Географія:
        <br>
Через Закупне проходить товтровий кряж Медобори. Товтри: Замчисько, Баба, Шибениця, Довга, Кругла, Стінка, Ріжок, Велика Куциха та Мала Куциха.
<br>
Попід горою Баба протікає річка Жванчик. На захід від Закупного є лісовий масив (499 га) — зона відпочинку.
<hr>
        Заснування:
Засноване на початку 18 століття.
<br>
Закупне — виникло на кутковецьких землях і мало спільну з Кутківцями історію.
<br>
У 18 ст. Закупне належало разом з «гусятинським ключем» Потоцьким. З 1770 — покутинському старості — Каєтану Ковальковському (1740— ?). 
Донька Ковальковського Маріана (1770 — вийшла заміж за красноставського старосту — Августа Кіцького (1754—1824) і отримала ці села в посаг, 
таким чином Кутківці з Закупною перейшли до Кіцьких. Після смерті Йозефа Кіцького — до його брата Станіслава (1760—1811, Кутківці), одружений 
з Вікторією Тарновською (1760—1811, Кутківці). Пізніше до його сина Яна Кіцького. Його донька вийшла заміж за Кучальського. Пізніше поселення 
були за борги виставлені на аукціон і їх купив Олександр Миколайович Виноградський. 

<hr> 
Поширені прізвища (давні): Присяжний, Казімірко, Струс, Варениця, Ковалишин, Панасюк, Проців, Зварун, Штолько, Трач, Мадера, Курилів, Рибак, Михайлюк, Явнюк, Горбатий, Хміль, Чухрій, Прокопишин, Шомчук, Коновал, Лаблюк, Мельник, Марчак, Казімірчук, Коріньовський.
<hr>
Поширені чоловічі імена (давні): Захарій, Макарій, Семен, Афанасій, Онисій, Артемій, Тимофій, Максим, Олексій, Григорій, Онуфрій, Михайло, Андрій, Марк, Евтимій.
<hr>
Поширені жіночі імена (давні): Феодора, Марія, Параска, Ганна, Онисія, Меланія, Ксенія, Євгенія, Олександра, Пелагія.
</p>
{% endblock %}