.photo_title {

    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}
.slider-image {
    height: 500px;
}


@media screen and (max-width: 576px) {
    .d-block {
        max-height: 300px;
    }
}
.card {
    border: 0px solid white !important;
}